<div class="col-lg-4  col-md-6 col-sd-6 col-xs-6 listPlacesMap-js  placeslist"  id="sprite-placelist-<%=map_place.id%>"data-placeid=<%=map_place.id%> data-place_lng=<%= map_place.place.longitude%> data-place_lat=<%= map_place.place.latitude%> data-stripeid=<%=map_place.sprite_number%>>
    <div class="row box-map-place">
          <div class='col-md-8 header_listPlacesMap'>
              <h4><%= map_place.place.title %></h4>
          </div>
              <div class='col-md-3 header_listPlacesMap'>
          <div class="sprite_category  sprite_category-<%=map_place.sprite_number%>" id="sprite-display-map-place-<%=map_place.id%>" data-toggle="modal" data-target="#sprite-choice-map-place-<%=map_place.id%>"></div>
          </div>
    </div>


    <div class="modal fade" id="sprite-choice-map-place-<%=map_place.id%>" tabindex="-1" role="dialog" aria-labelledby="sprite-choiceLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="sprite-choiceLabel">Choose the sprite</h4>
          </div>
          <div class="modal-body choice-sprite-category-list"  data-mapplaceid=<%=map_place.id%> data-mapid=<%=map_place.map.id%> >
                <div class="sprite_category sprite_category-1"  data-spriteid=1 ></div>
                <div class="sprite_category sprite_category-2"  data-spriteid=2 ></div>
                <div class="sprite_category sprite_category-3"  data-spriteid=3 ></div>
                <div class="sprite_category sprite_category-4"  data-spriteid=4 ></div><br>
                <div class="sprite_category sprite_category-5"  data-spriteid=5 ></div>
                <div class="sprite_category sprite_category-6"  data-spriteid=6 ></div>
                <div class="sprite_category sprite_category-7"  data-spriteid=7 ></div>
                <div class="sprite_category sprite_category-8"  data-spriteid=8 ></div><br>
                <div class="sprite_category sprite_category-9"  data-spriteid=9 ></div>
                <div class="sprite_category sprite_category-10"  data-spriteid=10 ></div>
                <div class="sprite_category sprite_category-11"  data-spriteid=11 ></div>
                <div class="sprite_category sprite_category-12"  data-spriteid=12 ></div><br>
                <div class="sprite_category sprite_category-13"  data-spriteid=13 ></div>
                <div class="sprite_category sprite_category-14"  data-spriteid=14 ></div>
                <div class="sprite_category sprite_category-15"  data-spriteid=15 ></div>
                <div class="sprite_category sprite_category-16"  data-spriteid=16 ></div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!--  -->

    <div class='box-map-place-content'>
      <dl>
          <dt>Your comment:
            <button type="button" class="btn btn-default btn-sm btn-field-toggler">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </dt>
          <dd class='comment-dd'>
              <span class="content-comment" style="display: block;">
                  <% if (map_place.comment.length > 0) %>
                  <%= map_place.comment %>
              <% else %>
                  You did not add any comment.
                  <% end %>
              </span>
              <form class="form-edit-place" style="display: none;">
                  <textarea name="comment" rows="5" cols="25"><%= map_place.comment %></textarea><br>
                  <input type="submit" value="Submit" class="btn btn-default btn-sm btn-submit-comment" id=<%=map_place.map.id%>&<%=map_place.id%>>
              </form>

          </dd>
          <% if (map_place.place.address) %>
          <dt>address:</dt>
          <dd><%= map_place.place.address %></dd>
          <% end %>
          <% if ( map_place.place.phone_number) %>
          <dt>phone number:</dt>
          <dd><%= map_place.place.phone_number %></dd>
          <% end %>

          <% if ( map_place.place.gmap_url) %>
          <dt>GoogleMap direction:</dt>

          <dd>
              <a href="<%= map_place.place.gmap_url %>">
                  <%=map_place.place.title%></a>
          </dd>
          <% end %>
          <%= button_to map_map_place_path(map_id: map_place.map.id , id: map_place.id), method: :delete , data: {  confirm: 'Are you sure you want to remove the place from your map?' }, class: 'btn btn-default btn-sm ' do %>
          Remove
          <span class="glyphicon glyphicon-remove"></span>
          <% end %>

      </dl>
  </div>









</div>
