<div class="row  ">
    <div class="col-xs-12 col-sm-12 col-md-6 col-left_map-show">
        <div class="row ">
            <div class="col-md-12 show-map-info">
                <div class="js-map-name">
                    <h1 ><%= @map.name %></h1>
                    <% if (@map.name != @map.city ) %>
                    <p class="itim-typo-medium hidden-xs">
                       &nbsp&nbsp&nbsp(<%=@map.city%>)
                     </p>
                    <%end%>
                </div>
            </div>

            <div class="col-md-12 show-map-info">
                <div class="js-map-name-form itim-typo-medium" style="display: none;">
                    <%= form_tag( @map, method: "patch") do %>
                    <%= label_tag(:map_name, "New name:") %>
                    <%= text_field_tag(:map_name,  @map.name) %>
                    <%= submit_tag("Submit") %>
                    <% end %>
                </div>
                <div class="js-button-action-map btn-group" role="group">
                    <button type="button" class="btn btn-info  btn-sm " id="btn-sendmap" data-toggle="modal" data-target="#myModal">
                        <span class="hidden-sm hidden-xs">Send This Map</span>
                        <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm " id="btn-mapcenter">
                        <span class="hidden-sm hidden-xs">recenter</span>
                        <span class="glyphicon glyphicon-screenshot"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" id="btn-mapname">
                        <span class="hidden-sm hidden-xs">rename</span>
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <%= button_to duplicate_map_path(@map.id), method: :duplicate, class: 'btn btn-default btn-sm' do %>
                    <span class="hidden-sm hidden-xs">Duplicate</span>
                    <span class="glyphicon glyphicon-duplicate"></span>
                    <% end %>
                    <%= button_to map_path(@map.id), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: 'btn btn-warning btn-sm ' do %>
                    <span class="hidden-sm hidden-xs">delete</span>
                    <span class="glyphicon glyphicon-trash"></span>
                    <% end %>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 search-part">

                <h4 class="itim-typo-medium">Looking for a place? Search or click!</h4><br>
                <div id="input-wrapper">
                    <input type="text" name="get-places" id="get-places">
                </div>
            </div>
        </div>
        <div class="row row-map-pan">
            <div class="col-xs-12 col-sm-12 col-md-12 map-colum column-map-pan ">
                <div id="map" data-mapid=<%=@map.id%> data-longitude=<%= @map.longitude%> data-latitude=<%= @map.latitude%>></div>
            </div>
        </div>



    </div>




       <div class="col-md-6 col-place-info">  <!--pre-scrollable -->
      <div class="row show-place-info ">
          <% @map.map_places.reverse.each do |map_place| %>
              <%= render 'listplacemap', map_place: map_place , map: @map %>
          <%end%>
      </div>


    </div>
</div>

<!-- Modal Email -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Share your map:
                    <%=@map.name %></h4>
            </div>
            <div class="modal-body">
                <div class='empty-warning-div' style="display: none;">All field are necessary, please complete the form</div>
                <%= bootstrap_form_tag url: map_share_path, class:'form-email js-check-empty-submit' do |f| %>
                <%= f.text_field :user_name, class: "js-empty-warning", label: "Your Name:"%>
                <%= f.text_field :friend_name, class: "js-empty-warning",  label: "Your Friend's Name:"%>
                <%= f.email_field :friend_email, class: "js-empty-warning", label: "Your Friend's e-mail:" %>
                <%= f.text_area :message_perso, label: "Personalize your message:", value: "Here a link to my favourite places in "+ @map.city+".\nHope you will like them!" %>

                <div class="form-group">
                    <label class="control-label">End of Message:</label>
                    <p>Open your friend map on 'MapMap' at the link:<br>
                        <%= map_public_url(@map.public_id) %>
                        <br>

                        There you can consult the map without login<br>
                        With an account, you can save, modify and even create your own map for free!</p>

                </div>
                <div class="modal-footer" >
                    <%= f.button :submit,   class: "btn btn-success", :id => "emailsubmit" do %>
                    Send Your Message!
                    <span class="glyphicon glyphicon-envelope"></span>
                    <% end %>

                </div>
                <% end %>
            </div>
        </div>

    </div>
</div>
