<div class="row ">
    <div class="col-md-3 show-map-info">
        <div class="js-map-name">
          <h1><%= @map.name %></h1>
          <% if (@map.name != @map.city ) %>
          <h3>(city: <%=@map.city%>)</h3>
          <%end%>
        </div>
        <button type="button" class="btn btn-default btn-sm " id="btn-sendmap">
            Send This Map <span class="glyphicon glyphicon-envelope"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm " id="btn-mapcenter">
            recenter <span class="glyphicon glyphicon-screenshot"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm " id="btn-mapname">
            rename <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <%= button_to map_path(@map.id), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: 'btn btn-default btn-sm ' do %>
              delete <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        <%= button_to duplicate_map_path(@map.id), method: :duplicate, class: 'btn btn-default btn-sm ' do %>
              Duplicate <span class="glyphicon glyphicon-duplicate"></span>
        <% end %>
        <!-- <button type="button" class="btn btn-default btn-sm " id="btn-delete" >
            delete <span class="glyphicon glyphicon-trash"></span>
        </button> -->
        <div class="js-map-name-form" style="display: none;">
            <h4> New name: </h4>
            <%= form_tag( @map, method: "patch") do %>
              <%= label_tag(:map_name, "New name:") %>
              <%= text_field_tag(:map_name) %>
              <%= submit_tag("Submit") %>
            <% end %>
          </div>
        <h4>  Created by  <%= @creator.email%></h4>


        <h4>Looking for a place? Search or click!</h4>
        <div id="input-wrapper">
          <input type="text" name="get-places" id="get-places">
        </div>
        <h4>Your  <%= @map.places.size %> Selection(s):</h4>
        <ul class="listPlacesMap-js">
           <% @map.map_places.each do |map_place| %>
                <%= render 'listplacemap', map_place: map_place , map: @map %>
          <%end%>
        </ul>

    </div>





    <div class="col-md-9">
        <div id="map"   data-mapid=<%=@map.id%>  data-longitude=<%= @map.longitude%> data-latitude=<%= @map.latitude%> </div>
    </div>

</div>
