<div class="row ">
    <div class="col-md-3 show-map-info">
        <h1>
            @map
            <%= @map.name %>
        </h1>
        <h4>
            Map created by
            <%= @creator.email%></h4>

        <p>
            Coordinates of the city:</p>
        <ul>
            <li>longitude:
                <%= @map.longitude%></li>
            <li>latitude:
                <%= @map.latitude%></li>
        </ul>

        <h4>Looking for a place? Search or click!</h4>
        <div id="input-wrapper">
          <input type="text" name="get-places" id="get-places">
        </div>

    </div>





    <div class="col-md-9">
        <div id="map"   data-longitude=<%= @map.longitude%> data-latitude=<%= @map.latitude%> </div>
    </div>

</div>
