<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-welcom-user">
            <h4> Welcome! </h4>
            <h3>  <%= @user.email %> </h3>
            <h2>
                Select a map, edit-it, share-it, duplicate-it, or create a new map.
            </h2>
            <br>

            <% if @user_maps.length > 0 %>
            <p>Your <img src="http://pipasmax.legtux.org/images/IH/logo_maxmapsolo-purple.svg" alt="logo maxmap"><%= @user_maps.length > 1 ? 's' : '' %>:</p>
                <ul>
                <% @user_maps.each do |map| %>
                    <li class="list-map-user">
                        <%= link_to  map.name, edit_map_path(map.id) %>
                    </li>
                <%end%>
            </ul>


            <br>
            <div class='form-new-map-js'>
                <p>Create a new <img src="http://pipasmax.legtux.org/images/IH/logo_maxmapsolo-purple.svg" alt="logo maxmap"> :</p>

            <%  else %>
            <div class='form-new-map-js'>
                <p>Create Your first <img src="http://pipasmax.legtux.org/images/IH/logo_maxmapsolo-purple.svg" alt="logo maxmap"> :</p>

            <%  end %>

                <%= form_tag("/maps") do %>
                <%= text_field_tag 'city', nil,  class: "text_field-new-city"  %>
                <%= submit_tag "Go!",   class: "submit-new-city" %>
                <% end %>
            </div>


        </div>

    </div>
</div>
